.App {
  margin: 0;
  padding: 0;
  background-color: black;
}

/* へー。こんなanimationの割り当て方あるんだ。 */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media screen and (maxwidth: 1366px) {
  body p {
    font-size: 30px;
  }
}

@media screen and (maxwidth: 1024px) {
  body p {
    font-size: 20px;
  }
}

@media screen and (maxwidth: 768px) {
  body p {
    font-size: 10px;
  }
}

@media screen and (maxwidth: 480px) {
  body p {
    font-size: 8px;
  }
}
